<header>
    <h1> Mi Perfil </h1>

    <div>
        <p>Bienvenido, {{user.first_name}} - {{user.last_name}}!! </p>
        <p>E-mail: {{user.email}} </p>
        <p>Edad: {{user.age}} </p>
        <p>Rol: {{user.role}} </p>
        <a href="/api/sessions/logout"> Cerrar Sesión </a>
    </div>
</header>